* {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

body {
  background-image: url(assets/images/background.png);
  height: 100vh;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 0 50px;
}

.title {
  margin-bottom: 60px;
  font-size: 60px;
}

.play {
  border: 2px solid black;
  padding: 10px;
  border-radius: 6px;
  background-color: red;
  text-decoration: none;
  font-size: 40px;
}

.play:hover {
  background-color: rgb(202, 3, 3);
}

section {
  text-align: center;
  padding: 10% 20%;
}

.instruction {
  font-size: 60px;
}

.container:last-child {
  padding-bottom: 5rem;
}